In [106]:
import pandas as pd 
import numpy as np
import warnings
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline 

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import mean_absolute_error, r2_score

warnings.simplefilter("ignore")
sns.set_style('darkgrid')

In [107]:
''' reading dataset '''
df = pd.read_csv('Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')

In [108]:
''' first 5 rows '''
df.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [109]:
''' shape of dataset '''
df.shape

(301, 8)

In [110]:
''' checking null values '''
df.isnull().sum()

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [111]:
'''  creating a dictonary inf_df '''

''' formula ---> Final value = Initial value * CPI final/CPI initial  '''

inf_df = {'cpi_per_year': [53.2, 56.45, 58.18, 59.87, 61.51, 63.16, 64.76, 66.92, 68.05, 
                          69.15, 71.01, 73.41, 74.55, 76.32, 77.76, 80.29, 83.03, 85.14, 88.62, 
                          88.7, 91.11, 92.47, 95.21, 96.87, 98.33, 99.07, 99.79, 101.86, 104.01, 106],
          
         'year': [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003,
                  2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017,
                 2018, 2019]}

In [112]:
''' creating inf_df dataframe '''
inf_df = pd.DataFrame(inf_df, columns=['year', 'cpi_per_year'])

In [113]:
''' displaying data '''
inf_df

    year  cpi_per_year
0   1990         53.20
1   1991         56.45
2   1992         58.18
3   1993         59.87
4   1994         61.51
5   1995         63.16
6   1996         64.76
7   1997         66.92
8   1998         68.05
9   1999         69.15
10  2000         71.01
11  2001         73.41
12  2002         74.55
13  2003         76.32
14  2004         77.76
15  2005         80.29
16  2006         83.03
17  2007         85.14
18  2008         88.62
19  2009         88.70
20  2010         91.11
21  2011         92.47
22  2012         95.21
23  2013         96.87
24  2014         98.33
25  2015         99.07
26  2016         99.79
27  2017        101.86
28  2018        104.01
29  2019        106.00

In [114]:
''' creaing new column "npv" in df '''
npv = []
for y, d in zip(df['Year'], df['earnings ($ million)']): 
    for y_, c_ in zip(inf_df['year'], inf_df['cpi_per_year']):
        if y == y_: 
            d = d*((inf_df.at[29, 'cpi_per_year'])/c_)
            npv.append(round(d, 2))

In [115]:
''' to balance the df we are taking 290 rows only '''
df = df.loc[:290, :]

''' displaying last five rows'''
df.tail()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
286,287,Russell Wilson,USA,6,??,American Football,2019,89.5
287,288,Aaron Rogers,USA,7,??,American Football,2019,89.3
288,289,LeBron James,USA,8,6,Basketball,2019,89.0
289,290,Stephen Curry,USA,9,8,Basketball,2019,79.8
290,291,Kevin Durant,USA,10,11,Basketball,2019,65.4

In [116]:
''' adding npv into df '''
df['npv'] = npv

''' displaying datas '''
df.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million),npv
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6,56.98
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0,51.80
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0,25.90
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0,19.92
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0,17.93

In [117]:
''' removing columns which contain null values i.e Sport column '''
df.drop(['Previous Year Rank'], axis=1, inplace=True)

In [118]:
''' now again checking null values '''
df.isnull().sum()

S.NO                    0
Name                    0
Nationality             0
Current Rank            0
Sport                   0
Year                    0
earnings ($ million)    0
npv                     0
dtype: int64

In [119]:
''' converting each word in Sport column into lower case '''
def lower_case(word):
    return word.lower()

df['Sport'] = df['Sport'].map(lower_case)

''' now checking unique categories in Sport column '''
df.Sport.unique()

array(['boxing', 'auto racing', 'golf', 'basketball', 'tennis', 'nfl',
       'nba', 'baseball', 'ice hockey', 'american football / baseball',
       'f1 motorsports', 'nascar', 'hockey', 'auto racing (nascar)',
       'f1 racing', 'american football', 'soccer', 'cycling',
       'motorcycle gp', 'mma'], dtype=object)

In [120]:
''' converting Sport category into label encoder '''
lbl_enc = LabelEncoder()

df['Sport'] = lbl_enc.fit_transform(df['Sport'])

In [121]:
''' independent and dependent features '''
X = df[['Current Rank', 'Sport', 'Year']].values
y = df[['npv']].values

In [122]:
X

array([[   1,    6, 1990],
       [   2,    6, 1990],
       [   3,    6, 1990],
       [   4,    2, 1990],
       [   5,    2, 1990],
       [   6,   10, 1990],
       [   7,   10, 1990],
       [   8,    5, 1990],
       [   8,   10, 1990],
       [   8,    6, 1990],
       [   1,    6, 1991],
       [   2,    6, 1991],
       [   3,    5, 1991],
       [   4,    6, 1991],
       [   5,    2, 1991],
       [   6,    2, 1991],
       [   7,    6, 1991],
       [   8,   10, 1991],
       [   9,    2, 1991],
       [  10,   10, 1991],
       [   1,    5, 1992],
       [   2,    6, 1992],
       [   3,    2, 1992],
       [   4,    2, 1992],
       [   5,   10, 1992],
       [   6,   19, 1992],
       [   7,   17, 1992],
       [   8,   10, 1992],
       [   9,   19, 1992],
       [  10,   19, 1992],
       [   1,    5, 1993],
       [   2,    6, 1993],
       [   3,    2, 1993],
       [   4,    2, 1993],
       [   5,    6, 1993],
       [   6,   16, 1993],
       [   7,    6, 1993],
       [   8,    4, 1993],
       [   9,   19, 1993],
       [  10,   17, 1993],
       [   1,    5, 1994],
       [   2,    5, 1994],
       [   3,   10, 1994],
       [   4,   10, 1994],
       [   5,    2, 1994],
       [   5,   12, 1994],
       [   7,    6, 1994],
       [   8,    6, 1994],
       [   9,   19, 1994],
       [  10,    2, 1994],
       [   1,    5, 1995],
       [   2,    6, 1995],
       [   3,    1, 1995],
       [   4,    6, 1995],
       [   5,    5, 1995],
       [   6,    6, 1995],
       [   7,   19, 1995],
       [   8,   10, 1995],
       [   9,    2, 1995],
       [  10,   12, 1995],
       [   1,    6, 1996],
       [   2,    5, 1996],
       [   3,    8, 1996],
       [   4,    5, 1996],
       [   5,   17, 1996],
       [   6,    6, 1996],
       [   7,   19, 1996],
       [   8,   10, 1996],
       [   9,    5, 1996],
       [   9,    5, 1996],
       [   1,    5, 1997],
       [   2,    6, 1997],
       [   3,    6, 1997],
       [   4,    8, 1997],
       [   5,    6, 1997],
       [   6,   10, 1997],
       [   7,    5, 1997],
       [   8,   15, 1997],
       [   9,   11, 1997],
       [  10,    5, 1997],
       [   1,    5, 1998],
       [   2,    8, 1998],
       [   3,   12, 1998],
       [   4,   10, 1998],
       [   5,   15, 1998],
       [   6,    5, 1998],
       [   7,    6, 1998],
       [   8,    5, 1998],
       [   9,   10, 1998],
       [  10,    4, 1998],
       [   1,    2, 1999],
       [   2,   10, 1999],
       [   3,    6, 1999],
       [   4,    5, 1999],
       [   5,    6, 1999],
       [   6,    6, 1999],
       [   7,    5, 1999],
       [   8,    6, 1999],
       [   9,    2, 1999],
       [  10,    5, 1999],
       [   1,    2, 2000],
       [   2,   10, 2000],
       [   3,    6, 2000],
       [   4,    5, 2000],
       [   5,    5, 2000],
       [   6,    3, 2000],
       [   7,    5, 2000],
       [   8,    6, 2000],
       [   9,    6, 2000],
       [  10,    5, 2000],
       [   1,   10, 2002],
       [   2,    8, 2002],
       [   3,    5, 2002],
       [   4,    6, 2002],
       [   5,    5, 2002],
       [   5,    5, 2002],
       [   7,    6, 2002],
       [   7,    5, 2002],
       [   9,    5, 2002],
       [  10,    2, 2002],
       [  10,    3, 2002],
       [   1,   10, 2003],
       [   2,    8, 2003],
       [   3,    5, 2003],
       [   4,    5, 2003],
       [   5,    6, 2003],
       [   6,    5, 2003],
       [   7,    4, 2003],
       [   8,    5, 2003],
       [   9,   19, 2003],
       [  10,    2, 2003],
       [   1,   10, 2004],
       [   2,    9, 2004],
       [   3,    0, 2004],
       [   4,    5, 2004],
       [   5,    5, 2004],
       [   6,    5, 2004],
       [   7,   19, 2004],
       [   8,   18, 2004],
       [   9,    4, 2004],
       [  10,    5, 2004],
       [   1,   10, 2005],
       [   2,    9, 2005],
       [   3,    6, 2005],
       [   4,    0, 2005],
       [   5,    5, 2005],
       [   6,    5, 2005],
       [   7,   18, 2005],
       [   8,    5, 2005],
       [   9,    7, 2005],
       [   9,   14, 2005],
       [   1,   10, 2006],
       [   2,    9, 2006],
       [   3,    6, 2006],
       [   4,   10, 2006],
       [   5,    5, 2006],
       [   6,    5, 2006],
       [   7,    5, 2006],
       [   8,   14, 2006],
       [   9,    4, 2006],
       [   9,    0, 2006],
       [   1,   10, 2007],
       [   2,    6, 2007],
       [   3,   10, 2007],
       [   4,    9, 2007],
       [   5,    9, 2007],
       [   6,   18, 2007],
       [   6,    5, 2007],
       [   8,    5, 2007],
       [   9,   18, 2007],
       [   9,    5, 2007],
       [   1,   10, 2008],
       [   2,   18, 2008],
       [   3,    5, 2008],
       [   3,   10, 2008],
       [   5,    9, 2008],
       [   6,    5, 2008],
       [   7,    5, 2008],
       [   8,   18, 2008],
       [   9,   14, 2008],
       [   9,   19, 2008],
       [   1,   10, 2009],
       [   2,    5, 2009],
       [   2,    5, 2009],
       [   2,    9, 2009],
       [   5,   18, 2009],
       [   6,    5, 2009],
       [   6,   10, 2009],
       [   6,    6, 2009],
       [   9,   14, 2009],
       [  10,   15, 2009],
       [   1,   10, 2010],
       [   2,    6, 2010],
       [   3,    5, 2010],
       [   4,   10, 2010],
       [   5,   18, 2010],
       [   6,   19, 2010],
       [   7,    5, 2010],
       [   8,    6, 2010],
       [   9,    0, 2010],
       [  10,    0, 2010],
       [   1,   10, 2011],
       [   2,    5, 2011],
       [   3,    5, 2011],
       [   4,   19, 2011],
       [   5,   10, 2011],
       [   6,   18, 2011],
       [   7,   18, 2011],
       [   8,    4, 2011],
       [   9,    9, 2011],
       [  10,   18, 2011],
       [   1,    6, 2012],
       [   2,    6, 2012],
       [   3,   10, 2012],
       [   4,    5, 2012],
       [   5,   19, 2012],
       [   6,    5, 2012],
       [   7,   10, 2012],
       [   8,   18, 2012],
       [   9,   18, 2012],
       [  10,    0, 2012],
       [   1,   10, 2013],
       [   2,   19, 2013],
       [   3,    5, 2013],
       [   4,    5, 2013],
       [   5,    0, 2013],
       [   6,    0, 2013],
       [   7,   10, 2013],
       [   8,   18, 2013],
       [   9,   18, 2013],
       [  10,   18, 2013],
       [   1,    6, 2014],
       [   2,   18, 2014],
       [   3,    5, 2014],
       [   4,   18, 2014],
       [   5,    5, 2014],
       [   6,   10, 2014],
       [   7,   19, 2014],
       [   8,   10, 2014],
       [   9,   19, 2014],
       [  10,    0, 2014],
       [   1,    6, 2015],
       [   2,    6, 2015],
       [   3,   18, 2015],
       [   4,   18, 2015],
       [   5,   19, 2015],
       [   6,    5, 2015],
       [   7,    5, 2015],
       [   8,   10, 2015],
       [   9,   10, 2015],
       [  10,    5, 2015],
       [   1,   18, 2016],
       [   2,   18, 2016],
       [   3,    5, 2016],
       [   4,   19, 2016],
       [   5,    5, 2016],
       [   6,   19, 2016],
       [   7,    0, 2016],
       [   8,   10, 2016],
       [   9,   10, 2016],
       [  10,    5, 2016],
       [   1,   18, 2017],
       [   2,    5, 2017],
       [   3,   18, 2017],
       [   4,   19, 2017],
       [   5,    5, 2017],
       [   6,    0, 2017],
       [   6,   10, 2017],
       [   8,    5, 2017],
       [   9,    5, 2017],
       [  10,    2, 2017],
       [   1,    6, 2018],
       [   2,   18, 2018],
       [   3,   18, 2018],
       [   4,   13, 2018],
       [   5,   18, 2018],
       [   6,    5, 2018],
       [   7,   19, 2018],
       [   8,    5, 2018],
       [   9,    0, 2018],
       [  10,    0, 2018],
       [   1,   18, 2019],
       [   2,   18, 2019],
       [   3,   18, 2019],
       [   4,    6, 2019],
       [   5,   19, 2019],
       [   6,    0, 2019],
       [   7,    0, 2019],
       [   8,    5, 2019],
       [   9,    5, 2019],
       [  10,    5, 2019]], dtype=int64)

In [123]:
y

array([[ 56.98],
       [ 51.8 ],
       [ 25.9 ],
       [ 19.92],
       [ 17.93],
       [ 17.14],
       [ 16.94],
       [ 16.14],
       [ 16.14],
       [ 16.14],
       [113.6 ],
       [ 59.15],
       [ 30.04],
       [ 27.23],
       [ 24.41],
       [ 20.66],
       [ 19.15],
       [ 17.46],
       [ 16.9 ],
       [ 15.96],
       [ 65.41],
       [ 51.01],
       [ 40.08],
       [ 26.42],
       [ 20.22],
       [ 20.04],
       [ 17.31],
       [ 16.76],
       [ 16.4 ],
       [ 15.49],
       [ 63.74],
       [ 44.26],
       [ 32.75],
       [ 28.33],
       [ 27.97],
       [ 26.91],
       [ 26.56],
       [ 22.49],
       [ 22.31],
       [ 20.36],
       [ 51.7 ],
       [ 28.78],
       [ 25.5 ],
       [ 23.44],
       [ 23.26],
       [ 23.26],
       [ 20.85],
       [ 20.68],
       [ 19.65],
       [ 19.47],
       [ 73.68],
       [ 67.13],
       [ 37.76],
       [ 37.26],
       [ 36.75],
       [ 30.21],
       [ 26.85],
       [ 25.34],
       [ 25.17],
       [ 24.34],
       [122.76],
       [ 86.1 ],
       [ 54.01],
       [ 39.94],
       [ 27.01],
       [ 25.37],
       [ 24.88],
       [ 24.72],
       [ 21.11],
       [ 21.11],
       [124.03],
       [ 86.01],
       [ 60.19],
       [ 55.44],
       [ 42.77],
       [ 41.34],
       [ 40.23],
       [ 30.25],
       [ 28.35],
       [ 26.93],
       [107.48],
       [ 59.19],
       [ 46.42],
       [ 41.75],
       [ 37.54],
       [ 33.65],
       [ 28.82],
       [ 28.51],
       [ 28.19],
       [ 26.79],
       [ 75.11],
       [ 72.05],
       [ 66.68],
       [ 61.32],
       [ 54.42],
       [ 50.59],
       [ 47.52],
       [ 44.45],
       [ 40.62],
       [ 35.26],
       [ 88.07],
       [ 79.12],
       [ 71.65],
       [ 55.23],
       [ 38.81],
       [ 36.57],
       [ 35.83],
       [ 34.33],
       [ 34.33],
       [ 31.35],
       [ 98.11],
       [ 95.26],
       [ 51.19],
       [ 39.81],
       [ 34.12],
       [ 34.12],
       [ 32.7 ],
       [ 32.7 ],
       [ 31.28],
       [ 28.44],
       [ 28.44],
       [108.33],
       [104.17],
       [ 48.61],
       [ 42.36],
       [ 41.67],
       [ 38.89],
       [ 36.11],
       [ 35.42],
       [ 33.33],
       [ 31.94],
       [109.46],
       [109.05],
       [ 57.25],
       [ 47.71],
       [ 43.49],
       [ 40.49],
       [ 38.44],
       [ 38.17],
       [ 35.72],
       [ 35.58],
       [114.86],
       [ 79.21],
       [ 50.17],
       [ 49.51],
       [ 44.1 ],
       [ 43.57],
       [ 42.91],
       [ 38.02],
       [ 36.97],
       [ 36.97],
       [114.9 ],
       [ 74.05],
       [ 70.22],
       [ 60.  ],
       [ 40.85],
       [ 39.58],
       [ 38.3 ],
       [ 38.3 ],
       [ 37.02],
       [ 37.02],
       [124.5 ],
       [ 53.54],
       [ 52.29],
       [ 49.8 ],
       [ 44.82],
       [ 41.09],
       [ 41.09],
       [ 39.84],
       [ 38.6 ],
       [ 38.6 ],
       [137.55],
       [ 59.81],
       [ 53.83],
       [ 53.83],
       [ 52.63],
       [ 46.65],
       [ 45.45],
       [ 44.26],
       [ 41.86],
       [ 41.86],
       [131.45],
       [ 53.78],
       [ 53.78],
       [ 53.78],
       [ 50.19],
       [ 47.8 ],
       [ 47.8 ],
       [ 47.8 ],
       [ 41.83],
       [ 40.63],
       [122.16],
       [ 75.62],
       [ 55.84],
       [ 53.52],
       [ 50.84],
       [ 50.03],
       [ 49.79],
       [ 48.86],
       [ 46.42],
       [ 44.56],
       [ 85.97],
       [ 60.75],
       [ 55.02],
       [ 53.88],
       [ 53.3 ],
       [ 45.85],
       [ 43.56],
       [ 40.12],
       [ 38.97],
       [ 37.03],
       [ 94.63],
       [ 69.03],
       [ 66.13],
       [ 59.01],
       [ 58.67],
       [ 58.23],
       [ 53.22],
       [ 51.21],
       [ 47.32],
       [ 47.21],
       [ 85.46],
       [ 78.24],
       [ 67.73],
       [ 65.44],
       [ 55.81],
       [ 53.62],
       [ 53.29],
       [ 51.65],
       [ 48.15],
       [ 45.19],
       [113.19],
       [ 86.24],
       [ 77.94],
       [ 69.75],
       [ 66.3 ],
       [ 65.97],
       [ 60.58],
       [ 57.35],
       [ 47.97],
       [ 47.22],
       [320.99],
       [171.19],
       [ 85.17],
       [ 78.96],
       [ 71.69],
       [ 69.33],
       [ 57.99],
       [ 54.35],
       [ 54.14],
       [ 52.96],
       [ 93.48],
       [ 86.47],
       [ 82.  ],
       [ 72.02],
       [ 59.7 ],
       [ 59.27],
       [ 56.4 ],
       [ 56.19],
       [ 56.09],
       [ 53.11],
       [ 96.78],
       [ 89.7 ],
       [ 83.25],
       [ 66.6 ],
       [ 63.06],
       [ 52.03],
       [ 52.03],
       [ 49.22],
       [ 48.49],
       [ 47.87],
       [290.45],
       [113.12],
       [110.07],
       [100.89],
       [ 91.72],
       [ 87.14],
       [ 78.68],
       [ 78.37],
       [ 68.59],
       [ 60.64],
       [127.  ],
       [109.  ],
       [105.  ],
       [ 94.  ],
       [ 93.4 ],
       [ 89.5 ],
       [ 89.3 ],
       [ 89.  ],
       [ 79.8 ],
       [ 65.4 ]])

In [124]:
''' train test split '''
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [125]:
print("X_train shape: ", X_train.shape)
print("X_test shape: ", X_test.shape)

X_train shape:  (232, 3)
X_test shape:  (59, 3)

In [126]:
''' Scaling data '''
sc = StandardScaler()

X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [127]:
X_train

array([[-0.48976556, -0.59330076, -0.93772678],
       [-1.51960492, -0.59330076, -1.39597347],
       [ 0.5400738 , -0.41615047, -1.16685013],
       [-0.48976556,  1.88680331,  1.46806831],
       [ 0.88335359,  1.70965302,  0.89525996],
       [-0.14648577,  1.88680331,  0.89525996],
       [ 0.88335359,  0.2924507 , -1.39597347],
       [ 0.5400738 ,  1.88680331, -0.02123341],
       [ 1.22663338,  0.2924507 ,  1.23894497],
       [ 0.88335359, -0.77045105, -1.2814118 ],
       [ 0.19679402,  0.2924507 ,  0.55157494],
       [ 1.22663338, -1.47905221,  0.20788993],
       [-0.48976556, -0.59330076,  0.89525996],
       [ 0.19679402, -0.59330076,  0.3224516 ],
       [-0.83304534, -0.41615047,  0.20788993],
       [-1.17632513,  1.70965302,  1.69719166],
       [-1.17632513,  0.2924507 , -0.4794801 ],
       [ 0.88335359,  1.70965302,  1.00982163],
       [ 0.5400738 , -0.59330076, -0.82316511],
       [ 0.19679402, -0.59330076, -0.02123341],
       [ 0.5400738 , -0.41615047, -0.25035676],
       [-1.17632513,  1.88680331,  1.00982163],
       [-0.14648577, -1.12475163, -1.16685013],
       [-1.51960492, -0.41615047,  1.23894497],
       [-0.14648577, -0.59330076,  0.09332826],
       [-0.83304534, -0.59330076,  0.43701327],
       [-1.51960492, -1.12475163, -0.59404177],
       [-0.14648577, -0.59330076, -1.05228846],
       [-1.51960492,  0.2924507 ,  0.55157494],
       [ 1.22663338, -1.12475163, -1.51053514],
       [ 0.88335359,  1.00105186,  0.20788993],
       [ 1.22663338,  1.88680331,  1.1243833 ],
       [-0.48976556, -0.59330076, -0.02123341],
       [-1.17632513, -0.06184989, -0.25035676],
       [-1.17632513, -0.41615047, -0.82316511],
       [-0.83304534,  1.70965302,  1.46806831],
       [-0.48976556,  1.70965302,  1.1243833 ],
       [ 1.56991316,  1.70965302,  0.78069829],
       [ 1.22663338, -1.47905221,  1.58262999],
       [-1.51960492,  1.70965302,  1.46806831],
       [-0.48976556, -1.12475163, -1.2814118 ],
       [-0.48976556,  0.2924507 , -0.70860344],
       [-0.48976556, -0.59330076, -0.13579508],
       [-1.51960492, -0.41615047, -0.93772678],
       [-1.17632513,  0.1153004 ,  0.55157494],
       [-1.51960492, -0.41615047,  1.58262999],
       [-1.17632513, -0.41615047, -1.39597347],
       [ 1.56991316,  1.88680331, -1.39597347],
       [ 1.22663338, -0.77045105, -0.02123341],
       [ 0.5400738 , -0.41615047, -1.51053514],
       [ 0.5400738 ,  1.88680331, -1.05228846],
       [ 0.19679402,  0.2924507 , -0.82316511],
       [ 1.56991316, -1.47905221,  0.89525996],
       [ 0.88335359, -0.41615047,  0.66613661],
       [-0.48976556,  0.2924507 ,  0.20788993],
       [-0.48976556,  1.88680331,  1.35350664],
       [ 1.56991316, -0.59330076, -0.4794801 ],
       [-1.17632513, -0.06184989, -0.13579508],
       [-0.14648577, -1.12475163, -1.62509681],
       [ 0.5400738 , -0.59330076, -0.59404177],
       [ 1.22663338, -0.77045105,  0.20788993],
       [-1.17632513, -0.59330076, -0.93772678],
       [ 1.22663338, -0.41615047, -0.4794801 ],
       [ 0.88335359,  0.2924507 , -0.93772678],
       [-0.83304534, -1.30190192, -1.05228846],
       [-0.83304534, -0.59330076,  1.1243833 ],
       [ 0.5400738 ,  1.88680331, -0.93772678],
       [ 0.5400738 ,  1.53250273, -1.39597347],
       [ 0.5400738 , -1.47905221,  1.69719166],
       [ 1.56991316,  1.17820215,  0.55157494],
       [-0.48976556, -1.47905221,  0.09332826],
       [ 1.56991316, -1.12475163,  1.46806831],
       [-1.51960492, -0.59330076, -1.16685013],
       [ 1.56991316, -1.47905221,  0.66613661],
       [-0.48976556, -0.41615047, -1.51053514],
       [ 0.88335359, -0.41615047, -0.4794801 ],
       [ 1.22663338,  1.00105186,  0.55157494],
       [-0.48976556, -1.12475163, -1.62509681],
       [ 1.22663338,  1.00105186,  0.09332826],
       [-0.14648577, -0.41615047, -0.13579508],
       [-0.14648577,  0.2924507 , -1.39597347],
       [-1.51960492, -0.59330076, -1.2814118 ],
       [ 0.88335359,  1.17820215, -0.82316511],
       [ 0.88335359, -0.59330076,  1.46806831],
       [ 1.22663338,  1.00105186,  0.43701327],
       [ 1.56991316,  0.2924507 , -1.51053514],
       [-1.51960492,  1.70965302,  1.69719166],
       [-1.51960492,  0.2924507 ,  1.00982163],
       [ 0.88335359,  0.2924507 ,  1.35350664],
       [-1.51960492, -0.59330076, -0.70860344],
       [-1.17632513, -0.41615047, -1.05228846],
       [-0.83304534, -0.41615047, -1.62509681],
       [-0.14648577, -1.47905221,  1.00982163],
       [-0.14648577, -0.59330076, -0.4794801 ],
       [ 1.56991316, -0.59330076,  1.69719166],
       [ 0.5400738 , -0.41615047, -0.70860344],
       [-1.51960492, -0.41615047, -1.51053514],
       [ 1.56991316, -0.59330076,  1.35350664],
       [ 1.22663338, -1.12475163, -1.05228846],
       [-1.17632513, -0.59330076, -1.16685013],
       [-0.14648577, -1.12475163, -1.51053514],
       [-0.14648577, -0.59330076,  0.20788993],
       [-1.51960492, -0.59330076, -1.05228846],
       [-1.51960492,  0.2924507 ,  0.78069829],
       [-0.83304534, -0.59330076,  1.00982163],
       [-0.83304534, -0.59330076, -0.13579508],
       [-1.51960492,  0.2924507 ,  0.66613661],
       [-0.83304534, -0.06184989, -0.93772678],
       [ 0.19679402,  1.70965302,  0.78069829],
       [ 0.19679402, -0.59330076,  0.89525996],
       [ 1.56991316, -1.12475163, -0.13579508],
       [ 1.22663338, -1.47905221,  0.66613661],
       [ 0.19679402, -0.59330076,  0.43701327],
       [-0.48976556,  0.2924507 , -1.16685013],
       [ 0.19679402, -1.47905221,  1.69719166],
       [ 0.88335359,  1.70965302, -0.02123341],
       [ 0.19679402, -0.41615047,  0.55157494],
       [ 0.88335359, -0.77045105,  0.78069829],
       [ 1.22663338, -0.23900018,  0.09332826],
       [-0.83304534, -0.59330076, -0.25035676],
       [ 0.19679402,  0.2924507 ,  1.1243833 ],
       [ 1.22663338, -1.12475163, -0.59404177],
       [ 0.5400738 ,  1.70965302,  0.78069829],
       [-0.48976556, -0.59330076, -0.59404177],
       [-0.14648577,  1.88680331,  1.69719166],
       [-1.17632513, -0.41615047,  0.3224516 ],
       [ 0.5400738 , -0.41615047, -1.2814118 ],
       [ 0.88335359,  1.70965302,  0.43701327],
       [-0.48976556, -0.41615047, -0.25035676],
       [-1.51960492, -0.41615047, -1.62509681],
       [-0.14648577, -0.41615047, -0.59404177],
       [ 0.19679402, -0.41615047, -0.59404177],
       [-0.83304534, -0.59330076,  1.35350664],
       [ 1.56991316,  1.70965302,  1.00982163],
       [ 1.22663338, -0.59330076, -0.93772678],
       [ 1.56991316, -1.12475163, -1.16685013],
       [ 1.22663338,  1.88680331, -1.16685013],
       [ 0.19679402, -0.59330076, -0.70860344],
       [ 0.88335359, -0.59330076,  1.69719166],
       [-1.51960492,  0.2924507 ,  0.09332826],
       [-0.48976556, -1.12475163, -1.39597347],
       [-0.14648577, -0.59330076,  1.1243833 ],
       [ 0.88335359, -0.59330076,  0.09332826],
       [-0.83304534, -0.41615047,  0.09332826],
       [ 1.22663338,  0.46960099, -0.82316511],
       [ 1.22663338,  1.88680331,  0.43701327],
       [-1.51960492, -1.12475163, -0.4794801 ],
       [-0.48976556,  1.88680331,  0.78069829],
       [-1.51960492,  0.2924507 , -0.02123341],
       [ 1.22663338,  0.2924507 ,  1.35350664],
       [ 1.22663338, -0.59330076,  1.69719166],
       [ 0.19679402,  1.88680331,  0.66613661],
       [ 0.5400738 ,  0.2924507 , -1.62509681],
       [ 1.22663338, -0.59330076, -0.93772678],
       [-1.17632513,  1.70965302,  1.35350664],
       [-0.14648577,  1.17820215, -0.70860344],
       [ 1.22663338, -0.59330076,  0.3224516 ],
       [-1.51960492,  0.2924507 , -0.13579508],
       [ 1.56991316, -0.59330076, -0.02123341],
       [-0.14648577, -0.59330076,  1.35350664],
       [ 1.22663338, -0.59330076,  1.46806831],
       [-1.17632513,  0.1153004 ,  0.09332826],
       [ 0.19679402, -0.59330076,  1.23894497],
       [-1.17632513,  0.2924507 , -0.59404177],
       [-0.83304534,  0.64675128, -0.70860344],
       [-0.48976556,  0.82390157,  1.58262999],
       [-1.17632513, -0.41615047, -1.51053514],
       [ 1.56991316, -1.12475163, -0.25035676],
       [-0.83304534, -0.41615047, -0.4794801 ],
       [ 0.19679402,  1.35535244, -1.2814118 ],
       [ 0.88335359,  0.2924507 , -1.05228846],
       [ 1.22663338,  1.70965302,  0.3224516 ],
       [ 0.19679402, -0.41615047, -0.93772678],
       [-1.17632513, -0.41615047, -1.62509681],
       [ 1.56991316, -0.94760134, -0.25035676],
       [ 0.5400738 , -1.47905221,  1.35350664],
       [ 0.19679402, -0.59330076,  0.55157494],
       [-0.83304534,  0.2924507 , -1.16685013],
       [ 0.19679402, -0.94760134, -0.4794801 ],
       [-1.17632513,  0.1153004 , -0.02123341],
       [ 1.56991316, -0.59330076, -0.82316511],
       [ 0.88335359,  0.2924507 , -1.51053514],
       [-1.17632513,  1.70965302,  1.1243833 ],
       [ 1.22663338,  1.88680331, -1.2814118 ],
       [-0.83304534, -1.47905221, -0.02123341],
       [-0.48976556, -0.41615047, -1.05228846],
       [-0.48976556,  0.1153004 ,  0.3224516 ],
       [ 0.5400738 , -0.59330076,  1.23894497],
       [ 0.88335359, -0.59330076, -0.13579508],
       [-0.14648577, -0.41615047, -1.2814118 ],
       [ 1.22663338,  1.88680331, -1.39597347],
       [-1.17632513, -0.59330076,  0.55157494],
       [-0.14648577, -0.59330076, -0.25035676],
       [-0.83304534, -0.59330076,  0.78069829],
       [-0.83304534,  0.2924507 ,  0.3224516 ],
       [-1.51960492,  0.2924507 ,  0.20788993],
       [-0.48976556,  1.70965302,  1.23894497],
       [-1.17632513, -0.59330076,  0.78069829],
       [-1.17632513, -0.41615047, -1.2814118 ],
       [-0.83304534, -1.12475163, -1.2814118 ],
       [ 0.5400738 , -0.77045105, -0.13579508],
       [-0.14648577,  1.70965302,  0.55157494],
       [-1.17632513, -0.59330076,  1.46806831],
       [ 0.5400738 ,  1.70965302,  0.09332826],
       [ 0.19679402,  0.2924507 ,  1.46806831],
       [ 0.5400738 , -0.59330076,  0.43701327],
       [ 1.56991316, -0.59330076, -0.59404177],
       [ 0.5400738 , -0.59330076,  0.66613661],
       [-0.83304534,  1.70965302,  1.23894497],
       [-0.14648577, -0.59330076, -0.25035676],
       [-0.14648577, -0.59330076,  1.46806831],
       [-0.83304534, -0.41615047, -0.82316511],
       [ 0.19679402,  1.88680331, -1.39597347],
       [-0.14648577,  0.1153004 ,  0.3224516 ],
       [ 0.88335359, -0.59330076,  1.58262999],
       [-0.83304534,  0.2924507 ,  0.43701327],
       [ 1.56991316, -1.47905221,  1.58262999],
       [ 1.56991316,  1.53250273, -1.2814118 ],
       [-0.83304534, -0.59330076,  0.66613661],
       [ 1.22663338,  0.2924507 , -0.70860344],
       [-1.51960492, -0.59330076, -0.82316511],
       [ 0.88335359, -0.59330076, -0.70860344],
       [-1.17632513, -0.41615047,  1.23894497],
       [ 0.5400738 ,  1.88680331,  1.58262999],
       [-1.51960492, -0.41615047,  0.89525996],
       [ 0.88335359, -0.41615047, -1.62509681],
       [-0.14648577,  1.70965302,  0.66613661],
       [-1.51960492,  1.70965302,  1.35350664],
       [-1.17632513, -0.41615047,  0.66613661],
       [ 0.5400738 , -0.59330076, -0.25035676],
       [ 0.88335359, -0.41615047, -1.16685013],
       [-1.17632513,  1.70965302,  0.43701327]])

In [128]:
''' Random Forest Regressor '''
rf_reg = RandomForestRegressor()

''' fit on data'''
rf_reg.fit(X_train, y_train)

RandomForestRegressor()

In [129]:
''' prediction '''
pred = rf_reg.predict(X_test)

In [130]:
''' checking performance of the model '''
print("Mean Absolute Error: ", mean_absolute_error(y_test, pred))
print("R2 Score: ", r2_score(y_test, pred))

Mean Absolute Error:  4.237189830508475
R2 Score:  0.9496003994230373

In [138]:
''' reshaping y_test variable from (59, 1) to (59,)'''
y_test = y_test.reshape(59,)

In [139]:
pd.DataFrame({'Actual': y_test, 'Predicted': pred})

    Actual  Predicted
0    53.62    57.6069
1   105.00    95.1232
2    38.97    41.9388
3   137.55   124.6968
4    31.28    33.5018
5   110.07    92.0496
6    55.44    44.7102
7    38.30    40.8521
8    33.33    35.5936
9    23.26    24.1829
10   43.49    41.6175
11   20.66    22.7471
12   74.05    69.9009
13   53.22    53.8016
14   66.68    63.2396
15   30.04    29.2923
16   71.69    66.1630
17   40.08    31.0559
18   41.09    43.7107
19   52.03    58.1583
20   53.29    55.8186
21   52.96    51.7488
22   53.52    53.5980
23   59.27    60.9217
24   47.22    50.2780
25  113.12   122.9755
26   16.14    16.5937
27   39.84    39.0871
28   91.72    83.4492
29   39.58    41.7513
30   65.44    64.7701
31   53.78    57.7494
32   52.63    46.8922
33   17.14    19.4799
34   53.30    48.6364
35   55.23    51.4819
36   69.03    73.1293
37   54.35    55.6153
38   47.32    46.7322
39   60.58    57.9998
40   30.21    28.5609
41   16.14    16.5225
42  113.19   121.0381
43   44.45    40.4231
44   24.34    23.4526
45   43.57    42.8187
46  124.50   115.4136
47   59.19    84.2530
48   38.89    38.6383
49   98.11   107.4903
50   48.15    47.8939
51   27.01    34.9478
52   26.79    28.5096
53   42.77    40.3861
54   94.00    93.4881
55   87.14    80.6151
56   57.35    54.2208
57   66.13    61.3322
58   35.83    36.9685