In [1]:
#importing libaries for various classification techniques

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
#from pandas.plotiing import scatter_matrix
from sklearn.linear_model import LogisticRegression # logistic regression
from sklearn import svm # support vector machine
from sklearn.ensemble import RandomForestClassifier #Random_forest
from sklearn.tree import DecisionTreeClassifier #Decision tree
from sklearn.naive_bayes import GaussianNB #Naive_bayes
from sklearn.neighbors import KNeighborsClassifier #K nearest neighbors
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [2]:
#Reading the data set
df =pd.read_csv("../input/invehicle-coupon-recommendation/in-vehicle-coupon-recommendation.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

In [3]:
#Finding the special characters in the data frame
df.isin(['?']).sum(axis=0)

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
car                     0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [4]:
#Replacing the special character to nan and then drop the columns
df['car'] = df['car'].replace('NaN',np.nan)
df['CarryAway'] = df['CarryAway'].replace('?',np.nan)
#Dropping the NaN rows now 
df.dropna(how='any',inplace=True)

In [5]:
#Assigning the numeric values to the string type variables
number = LabelEncoder()
df['destination'] = number.fit_transform(df['destination'])
df['passanger'] = number.fit_transform(df['passanger'])
df['weather'] = number.fit_transform(df['weather'])
df['time'] = number.fit_transform(df['time'])
df['coupon'] = number.fit_transform(df['coupon'])
df['expiration'] = number.fit_transform(df['expiration'])
df['gender'] = number.fit_transform(df['gender'])
df['maritalStatus'] = number.fit_transform(df['maritalStatus'])
df['education'] = number.fit_transform(df['education'])
df['occupation'] = number.fit_transform(df['occupation'])
df['Bar'] = number.fit_transform(df['Bar'])
df['CoffeeHouse'] = number.fit_transform(df['CoffeeHouse'])
df['car'] = number.fit_transform(df['car'])
df['CarryAway'] = number.fit_transform(df['CarryAway'])
df['income'] = number.fit_transform(df['income'])
df['Restaurant20To50'] = number.fit_transform(df['Restaurant20To50'])
df['RestaurantLessThan20'] = number.fit_transform(df['RestaurantLessThan20'])

In [6]:
df.head(5)

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
1237,1,0,2,55,2,4,0,1,26,1,...,1,1,0,2,1,0,0,0,1,1
1238,1,1,2,80,0,2,1,1,26,1,...,1,1,0,2,1,0,0,0,1,0
1239,1,1,2,80,0,0,0,1,26,1,...,1,1,0,2,1,0,0,0,1,1
1240,1,1,2,80,0,1,1,1,26,1,...,1,1,0,2,1,1,0,0,1,0
1241,1,1,2,80,2,2,0,1,26,1,...,1,1,0,2,1,0,0,0,1,1

In [7]:
# summarize the class distribution
target = df.values[:,-1]
counter = Counter(target)
for k,v in counter.items():
	per = v / len(target) * 100
	print('Class=%s, Count=%d, Percentage=%.3f%%' % (k, v, per))

Class=1, Count=62, Percentage=57.407%
Class=0, Count=46, Percentage=42.593%

In [8]:
#Train_Test splitting
X = df.drop(['Y'],axis=1)
y = df['Y']
X.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
1237,1,0,2,55,2,4,0,1,26,1,...,1,1,1,0,2,1,0,0,0,1
1238,1,1,2,80,0,2,1,1,26,1,...,1,1,1,0,2,1,0,0,0,1
1239,1,1,2,80,0,0,0,1,26,1,...,1,1,1,0,2,1,0,0,0,1
1240,1,1,2,80,0,1,1,1,26,1,...,1,1,1,0,2,1,1,0,0,1
1241,1,1,2,80,2,2,0,1,26,1,...,1,1,1,0,2,1,0,0,0,1

In [9]:
y.head()

1237    1
1238    0
1239    1
1240    0
1241    1
Name: Y, dtype: int64

In [10]:
#Declaring the train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4,random_state=0)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = pd.DataFrame(scaler.fit_transform(X_train), columns = X.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns = X.columns)

In [12]:
X_train.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp
0,-1.459661,-0.776750,-1.387595,-1.785988,0.456198,-0.052200,-0.939336,-1.170628,-0.348155,0.854242,...,-1.824019,0.787562,-0.480384,-0.504878,-1.632993,0.0,0.827170,-0.377964,-0.430331,0.430331
1,1.414748,-0.776750,0.424774,-0.392046,1.151358,-0.052200,1.064581,-1.170628,1.740777,-1.170628,...,0.713746,-1.612626,-0.480384,-0.504878,0.000000,0.0,0.827170,-0.377964,-0.430331,0.430331
2,1.414748,-0.776750,0.424774,1.001896,1.151358,-0.887393,1.064581,-1.170628,1.740777,-1.170628,...,0.713746,-1.612626,-0.480384,-0.504878,0.000000,0.0,-1.208941,-0.377964,2.323790,-2.323790
3,-0.022456,0.685367,0.424774,1.001896,-0.238961,-0.052200,-0.939336,0.854242,-0.348155,0.854242,...,-0.555136,-0.412532,2.081666,-0.504878,1.632993,0.0,-1.208941,-0.377964,-0.430331,0.430331
4,-1.459661,-0.776750,0.424774,1.001896,0.456198,-0.052200,1.064581,0.854242,-0.348155,0.854242,...,-0.555136,-0.412532,2.081666,-0.504878,1.632993,0.0,-1.208941,-0.377964,-0.430331,0.430331

#various classification techniques

In [13]:
# Logistic Regression
LR = LogisticRegression()
LR.fit(X_train, y_train)
y_pred = LR.predict(X_test)
score_LR = LR.score(X_test,y_test)
print('The accuracy of the Logistic Regression model is', score_LR)
targets = ['0' , '1']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Logistic Regression model is 0.5
              precision    recall  f1-score   support

           0       0.40      0.32      0.35        19
           1       0.55      0.64      0.59        25

    accuracy                           0.50        44
   macro avg       0.48      0.48      0.47        44
weighted avg       0.49      0.50      0.49        44

In [14]:
# Support Vector Classifier (SVM/SVC)
from sklearn.svm import SVC
svc = SVC(gamma=0.22)
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
score_svc = svc.score(X_test,y_test)
print('The accuracy of SVC model is', score_svc)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of SVC model is 0.5454545454545454
              precision    recall  f1-score   support

       <=50k       0.44      0.21      0.29        19
        >50k       0.57      0.80      0.67        25

    accuracy                           0.55        44
   macro avg       0.51      0.51      0.48        44
weighted avg       0.52      0.55      0.50        44

In [15]:
# Random Forest Classifier
RF = RandomForestClassifier()
RF.fit(X_train, y_train)
y_pred = RF.predict(X_test)
score_RF = RF.score(X_test,y_test)
print('The accuracy of the Random Forest Model is', score_RF)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Random Forest Model is 0.5681818181818182
              precision    recall  f1-score   support

       <=50k       0.50      0.37      0.42        19
        >50k       0.60      0.72      0.65        25

    accuracy                           0.57        44
   macro avg       0.55      0.54      0.54        44
weighted avg       0.56      0.57      0.56        44

In [16]:
# Decision Tree
DT = DecisionTreeClassifier()
DT.fit(X_train,y_train)
y_pred = DT.predict(X_test)
score_DT = DT.score(X_test,y_test)
print("The accuracy of the Decision tree model is ",score_DT)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the Decision tree model is  0.5227272727272727
              precision    recall  f1-score   support

       <=50k       0.44      0.37      0.40        19
        >50k       0.57      0.64      0.60        25

    accuracy                           0.52        44
   macro avg       0.50      0.50      0.50        44
weighted avg       0.51      0.52      0.52        44

In [17]:
# Gaussian Naive Bayes
GNB = GaussianNB()
GNB.fit(X_train, y_train)
y_pred = GNB.predict(X_test)
score_GNB = GNB.score(X_test,y_test)
print('The accuracy of Gaussian Naive Bayes model is', score_GNB)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of Gaussian Naive Bayes model is 0.6136363636363636
              precision    recall  f1-score   support

       <=50k       0.54      0.68      0.60        19
        >50k       0.70      0.56      0.62        25

    accuracy                           0.61        44
   macro avg       0.62      0.62      0.61        44
weighted avg       0.63      0.61      0.61        44

In [18]:
# K-Nearest Neighbors
knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)
score_knn = knn.score(X_test,y_test)
print('The accuracy of the KNN Model is',score_knn)
targets = ['<=50k' , '>50k']
print(classification_report(y_test, y_pred,target_names=targets))

The accuracy of the KNN Model is 0.5227272727272727
              precision    recall  f1-score   support

       <=50k       0.43      0.32      0.36        19
        >50k       0.57      0.68      0.62        25

    accuracy                           0.52        44
   macro avg       0.50      0.50      0.49        44
weighted avg       0.51      0.52      0.51        44